root = true

# Unix-style newlines with a newline ending every file
[*]
end_of_line = lf
insert_final_newline = true
line_length = 120

[*.txt,*.js,*.css,*.jinja]
indent_style = space
indent_size = 2

[*.py]
indent_style = space
indent_size = 4

[Makefile]
indent_style = tab

[*.md, *.rst]
indent_style = space
indent_size = 4

[*.c]
indent_style = space
indent_size = 2
