@import 'variables';

$term-text-colour: #dde4e8;

body {
  margin: 0;
  background-color: $body-bg;
  color: $body-color;
  font-family: sans-serif;
}

.init {
  .init-hidden {
    display: none;
  }
  h1 {
    margin-top: 0;
    margin-bottom: 0.5rem;
  }
}

.container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}
@media (min-width: 544px) {
  .container {
    max-width: 576px;
  }
}
@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}
@media (min-width: 992px) {
  .container {
    max-width: 940px;
  }
}
@media (min-width: 1200px) {
  .container {
    max-width: 1110px;
  }
}

.main.container {
  padding-top: 70px;
  padding-bottom: 50px;
}

.breadcrumb a {
  color: map-get($colour-grid-1, "darken-3");
}

dt a {
  font-weight: normal;
}

$indent-terminal: 40px;

.above-terminal {
  min-height: 30px;
}

.terminal-like {
  margin-bottom: 20px;
  background-color: #2d3134;
  color: $term-text-colour;
  border-radius: 4px;
  padding: 20px 20px 20px $indent-terminal;
  font-family: 'Ubuntu Mono', monospace;
  line-height: 1em;
  word-wrap: break-word;
  h3, h4, h5 {
    margin-left: -($indent-terminal - 15px);
    color: map-get($colour-grid-1, "lighten-3");
  }
  h3, h4, h5 {
    font-size: 1.2rem;
    margin-top: 10px;
    margin-bottom: 4px;
  }
  h3 {
    margin-bottom: 10px;
  }
  b, strong {
    font-weight: 700;
  }
  i {
    text-decoration: underline;
    font-style: normal;
  }
  a {
    text-decoration: none !important;
    color: #48aaff;
  }
  pre {
    color: #a5aaad;
    white-space: pre-wrap;
  }
  p.indented {
    padding-left: $indent-terminal - 5px;
  }
  dd {
    margin-left: $indent-terminal - 5px;
  }
  table {
    margin: 10px 0;
    border-collapse: collapse;
    td {
      padding: 10px 8px 8px 8px;
    }
    &.border {
      th, td {
        border: 1px solid map-get($colour-grid-1, "lighten-2");
      }
    }
  }
  comment {
    display: block;
    padding-top: 10px;
    color: #666;
  }
}

.white-space {
  white-space: pre-wrap;
}

.no-pad {
  margin: 0 !important;
}
