// light blue
$colour-grid: (
  "base":       #03a9f4,
  "lighten-5":  #e1f5fe,
  "lighten-4":  #b3e5fc,
  "lighten-3":  #81d4fa,
  "lighten-2":  #4fc3f7,
  "lighten-1":  #29b6f6,
  "darken-1":   #039be5,
  "darken-2":   #0288d1,
  "darken-3":   #0277bd,
  "darken-4":   #01579b,
  "accent-1":   #80d8ff,
  "accent-2":   #40c4ff,
  "accent-3":   #00b0ff,
  "accent-4":   #0091ea
);


$background-colour: #f1f5f9;

$header-height: 400px;
$header-colour: #42587f;

$term-text-colour: #dde4e8;

$term-muted: #a5aaad;
