@import 'variables';

html, body {
  margin: 0;
  padding: 0 0 10px;
  background-color: $background-colour;
  font-family: Lato, 'Helvetica Neue', Helvetica, Arial, 'Lucida Grande', sans-serif;
  overflow-y: scroll;
  overflow-x: hidden;
  width: 100vw;
}

a {
  text-decoration: none !important;
}

header {
  background-color: $header-colour;
  height: $header-height;
  width: 100%;
  canvas {
    margin-top: 30px;
  }
}

.container {
  max-width: 1140px;
  margin: 0 auto;
}

@media (max-width: 1156px) {
  .container {
    margin-left: 8px;
    margin-right: 8px;
  }
}
$search-colour: map-get($colour-grid, "darken-4");

$result-color: map-get($colour-grid, "darken-1");
nav {
  background-color: $background-colour;
  z-index: 10;
  position: fixed;
  top: 0;
  width: 100%;
  height: 40px;
  padding: 5px 0;
  .content {
    display: flex;
    justify-content: space-between;
  }
  .about {
    color: $search-colour;
    font-size: 1.2rem;
    padding-top: 11px;
  }
  #search-form {
    width: 500px;
    display: block !important;

    .twitter-typeahead, > .form-control {
      width: 100%;
      display: inline-block;
    }

    .form-control {
      background-color: white;
      width: calc(100% - 20px);
      padding: 0.5rem 10px;
      font-size: 1rem;
      line-height: 1.25;
      color: #55595c;
      //background-clip: padding-box;
      border: 2px solid $search-colour;
      border-radius: .25rem;
      outline: none;
      transition: border 800ms ease;
      &:focus {
        border-color: $result-color;
      }
    }

    .tt-menu {
      background-color: white;
      color: #444;
      border: 1px solid $result-color;
      border-top: none;
      margin-top: -4px;
      border-radius: 0 0 5px 5px;
      width: 100%;
    }
    .tt-suggestion, .no-results {
      cursor: pointer;
      padding: 5px 20px;
      border-top: 1px solid $result-color;
      &.tt-cursor, &:hover {
        color: #fff;
        background-color: $result-color;
      }
    }
    .tag {
      background-color: $result-color;
      display: inline-block;
      padding: .25em .4em;
      font-size: 73%;
      font-weight: bold;
      color: white;
      //white-space: nowrap;
      //vertical-align: baseline;
      border-radius: .25rem;
    }
    small {
      font-size: 80%;
      display: block;
    }
  }
}


#spinner {
  display: none;
  position: relative;
  top: -20px;
  left: calc(100% - 30px);
  $size: 6px;
  width: ($size + $size / 3 * 2) * 2;
  height: $size;
  > div {
    width: $size;
    height: $size;
    margin: 0 $size / 3;
    background-color: $result-color;
    border-radius: 50%;
    border: 0;
    display: inline-block;
    vertical-align: top;
  }
  transform-origin: center center;
  will-change: transform;
  animation: rotation 3s infinite ease;
}

@keyframes rotation {
  0%, 4% {
    transform: rotateZ(0deg)
  }
  46%, 54% {
    transform: rotateZ(180deg)
  }
  96%, 100% {
    transform: rotateZ(360deg)
  }
}

#alt-head {
  z-index: 9;
  position: fixed;
  top: 50px;
  width: 100%;
  opacity: 0.94;
  .container {
    display: flex;
    justify-content: space-between;
  }
}

.head {
  background-color: #42587f;
  border: 1px solid #42587f;
  color: white;
  padding: 2px;
  h1, aside, .menu {
    display: inline-block;
  }
  h1 {
    font-size: 1rem;
    font-weight: bold;
    margin: 8px 8px 6px 14px;
  }
  aside {
    color: #ccc;
    padding-top: 8px;
    max-width: 480px;
    float: right;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
}

.menu {
  padding: 2px 14px;
  a {
    padding: 6px 14px;
    margin: 0 4px;
    display: inline-block;
    color: map-get($colour-grid, "lighten-2");
    &:hover {
      color: map-get($colour-grid, "lighten-4");
    }
    &.no-page {
      cursor: default;
      color: #aaa;
    }
    &.active {
      background-image: linear-gradient(#222222,#444444);
      border-radius: 15px;
      box-shadow: 0 1px 0 rgba(255,255,255,0.2), inset 0 1px 2px rgba(0,0,0,0.2);
      color: map-get($colour-grid, "lighten-4");
    }
  }
}


@media (max-width: 768px) {
  .menu {
    padding: 2px 4px;
    a {
      padding: 6px 8px;
    }
  }
}
@media (max-width: 450px) {
  .head h1 {
    margin: 8px 0 6px 4px;
  }
  .menu {
    padding: 2px 0;
    a {
      margin: 0 2px;
    }
  }
}

$term-link: #48aaff;

.terminal {
  // so terminal appears on top of canvas
  position: relative;
  padding: 0;
  margin-top: 80px - $header-height;
  background-color: #333333;
  color: white;
  border-radius: 5px;
  box-shadow: 0 0 50px rgba(0, 0, 0, 0.2);
  min-height: 400px;
  .head {
    background-image: linear-gradient(#555, #444);
    border: 1px solid #444;
    border-radius: 5px 5px 0 0;
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1), 0 1px 3px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: space-between;
  }
  a {
    color: $term-link;
  }
}

main {
  font-family: 'Ubuntu Mono', 'Courier New', Courier, monospace;
  padding: 5px 5px 10px;
}

@import 'man_styles';

section.info {
  margin: 15px 15px 20px;
  .count {
    display: inline-block;
    min-width: 40px;
    text-align: right;
  }
}

section.list {
  display: flex;
  flex-wrap: wrap;
  padding: 2px 6px;
  div {
    flex-grow: 1;
    width: 200px;
    padding-right: 10px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    color: $term-link;
  }
}

@media (min-width: 768px) {
  .columns {
    display: flex;
    $main-width: 75%;
    .main {
      width: $main-width;
      padding-right: 10px;
    }
    .sidebar {
      width: 100% - $main-width;
      border-left: 1px solid #666;
    }
  }
}

@media (max-width: 768px) {
  .hide-small {
    display: none !important;
  }
}

.no-pad {
  margin: 0 !important;
}

.white-space {
  white-space: pre-wrap;
}

a.disabled {
  pointer-events: none;
  cursor: default;
}

// google ads
.adsbygoogle {
  &.sidebar {
    display: block;
    width: calc(100% - 20px);
    max-width: 300px;
    height: 600px;
    margin-top: 20px;
    margin-left: 15px;
    border: none;
    // for testing:
    //background-color: green;
  }
}

$ad-notice: #4caf50;

.bsa-cpc {
  height: 32px;
  font-size: 14px;
  #_default_ {
    padding: 10px 14px 0;
  }

  .default-ad {
    display: none;
  }

  ._default_ {
    display: inline;
    overflow: hidden;
    //line-height: 1;
     > * {
      vertical-align: middle;
    }
  }

  a {
    color: #fff;
    text-decoration: none;
    transition: .5s ease;
    &:hover {
      color: map-get($colour-grid, "lighten-4");
    }
  }

  .default-image {
    display: none;
  }

  .default-title {
    position: relative;
    margin-left: 8px;
    &:after {
      content: " — ";
    }
    &:before {
      position: relative;
      top: -1px;
      left: -8px;
      padding: 2px 5px;
      border: solid 1px $ad-notice;
      border-radius: 3px;
      color: $ad-notice;
      content: "AD";
      font-size: 10px;
      font-family: Verdana, sans-serif;
      //line-height: 1;
    }
  }
}
