// light blue
$colour-grid: (
  "base":       #03a9f4,
  "lighten-5":  #e1f5fe,
  "lighten-4":  #b3e5fc,
  "lighten-3":  #81d4fa,
  "lighten-2":  #4fc3f7,
  "lighten-1":  #29b6f6,
  "darken-1":   #039be5,
  "darken-2":   #0288d1,
  "darken-3":   #0277bd,
  "darken-4":   #01579b,
  "accent-1":   #80d8ff,
  "accent-2":   #40c4ff,
  "accent-3":   #00b0ff,
  "accent-4":   #0091ea
);


$background-colour: #f1f5f9;

html, body {
  margin: 0;
  background-color: $background-colour;
  font-family: Lato, 'Helvetica Neue', Helvetica, Arial, 'Lucida Grande', sans-serif;
  padding-bottom: 10px;
  overflow-y: scroll;
}

a {
  text-decoration: none !important;
}

a.disabled {
  pointer-events: none;
  cursor: default;
}

$header-height: 400px;
$header-colour: #42587f;

header {
  background-color: $header-colour;
  height: $header-height;
  width: 100%;
}

.container {
  max-width: 1140px;
  margin: 0 auto;
}

$result-color: map-get($colour-grid, "darken-1");
nav {
  background-color: $background-colour;
  z-index: 10;
  position: fixed;
  top: 0;
  width: 100%;
  height: 40px;
  padding: 5px 0;
  .content {
    display: flex;
    justify-content: space-between;
    padding: 0 10px;
  }
  .about {
    color: $header-colour;
    font-size: 1.2rem;
    padding-top: 11px;
  }
  #search-form {
    width: 500px;
    display: block !important;

    .twitter-typeahead, > .form-control {
      width: 100%;
      display: inline-block;
    }

    .form-control {
      background-color: white;
      width: calc(100% - 20px);
      padding: 0.5rem 10px;
      font-size: 1rem;
      line-height: 1.25;
      color: #55595c;
      //background-clip: padding-box;
      border: 1px solid #ccc;
      border-radius: .25rem;
      outline: none;
      &:focus {
        border: 1px solid $result-color;
      }
    }

    .tt-menu {
      background-color: white;
      color: #444;
      border: 1px solid $result-color;
      border-top: none;
      margin-top: -4px;
      border-radius: 0 0 5px 5px;
      width: 100%;
    }
    .tt-suggestion, .no-results {
      cursor: pointer;
      padding: 5px 20px;
      border-top: 1px solid $result-color;
      &.tt-cursor, &:hover {
        color: #fff;
        background-color: $result-color;
      }
    }
    .tag {
      background-color: $result-color;
      display: inline-block;
      padding: .25em .4em;
      font-size: 75%;
      font-weight: bold;
      color: white;
      //white-space: nowrap;
      //vertical-align: baseline;
      border-radius: .25rem;
    }
    small {
      font-size: 80%;
      display: block;
    }
  }
}



#spinner {
  display: none;
  position: relative;
  top: -20px;
  left: calc(100% - 30px);
  $size: 6px;
  width: ($size + $size / 3 * 2) * 2;
  height: $size;
  > div {
    width: $size;
    height: $size;
    margin: 0 $size / 3;
    background-color: $result-color;
    border-radius: 50%;
    border: 0;
    display: inline-block;
    vertical-align: top;
  }
  transform-origin: center center;
  will-change: transform;
  animation: rotation 3s infinite ease;
}

@keyframes rotation {
  0%, 4% {
    transform: rotateZ(0deg)
  }
  46%, 54% {
    transform: rotateZ(180deg)
  }
  96%, 100% {
    transform: rotateZ(360deg)
  }
}

#alt-head {
  position: fixed;
  top: 50px;
  width: 100%;
  .container {
    display: flex;
    justify-content: space-between;
  }
}

.head {
  background-color: #42587f;
  border: 1px solid #42587f;
  color: white;
  padding: 2px;
  h1, aside, .menu {
    display: inline-block;
  }
  h1 {
    font-size: 1rem;
    font-weight: bold;
    margin: 8px 8px 6px 14px;
  }
  aside {
    color: #ccc;
  }
  .menu {
    padding: 2px 14px;
    a {
      padding: 6px 14px;
      margin: 0 4px;
      display: inline-block;
      color: map-get($colour-grid, "lighten-2");
      &:hover {
        color: map-get($colour-grid, "lighten-4");
      }
      &.active {
        background-image: linear-gradient(#222222,#444444);
        border-radius: 15px;
        box-shadow: 0 1px 0 rgba(255,255,255,0.2), inset 0 1px 2px rgba(0,0,0,0.2);
        color: map-get($colour-grid, "lighten-4");
      }
    }
  }
}


@media (max-width: 768px) {
  .head .menu {
    padding: 2px 4px;
    a {
      padding: 6px 8px;
    }
  }
}

.terminal {
  padding: 0;
  margin-top: 80px - $header-height;
  background-color: #333333;
  color: white;
  border-radius: 5px;
  box-shadow: 0 0 50px rgba(0, 0, 0, 0.2);
  .head {
    background-image: linear-gradient(#555, #444);
    border: 1px solid #444;
    border-radius: 5px 5px 0 0;
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1), 0 1px 3px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: space-between;
  }
}

main {
  font-family: 'Ubuntu Mono', 'Courier New', Courier, monospace;
  padding: 5px 5px 10px;
}

section.info {
  margin: 15px 15px 20px;
  a {
    color: #48aaff;
  }
  .count {
    display: inline-block;
    min-width: 40px;
    text-align: right;
  }
}

$term-text-colour: #dde4e8;
$indent-terminal: 40px;

.terminal-box {
  padding: 0 0 0 $indent-terminal;
}

.terminal-like {
  margin-bottom: 20px;
  color: $term-text-colour;
  line-height: 1em;
  word-wrap: break-word;
  h3, h4, h5 {
    margin-left: -($indent-terminal - 10px);
    color: map-get($colour-grid, "lighten-3");
  }
  h3, h4, h5 {
    font-size: 1.2rem;
    margin-top: 10px;
    margin-bottom: 4px;
  }
  h3 {
    margin-bottom: 10px;
  }
  b, strong {
    font-weight: 700;
  }
  i {
    text-decoration: underline;
    font-style: normal;
  }
  a {
    color: #48aaff;
  }
  pre {
    color: #a5aaad;
    white-space: pre-wrap;
  }
  p.indented {
    padding-left: $indent-terminal - 5px;
  }
  dd {
    margin-left: $indent-terminal - 5px;
  }
  table {
    margin: 10px 0;
    border-collapse: collapse;
    td {
      padding: 10px 8px 8px 8px;
    }
    &.border {
      th, td {
        border: 1px solid map-get($colour-grid, "lighten-2");
      }
    }
  }
  comment {
    display: block;
    padding-top: 10px;
    color: #888;
  }
}

@media (min-width: 768px) {
  .columns {
    display: flex;
    $main-width: 75%;
    .main {
      width: $main-width;
      padding-right: 10px;
    }
    .sidebar {
      width: 100% - $main-width;
      border-left: 1px solid #666;
    }
  }
}

@media (max-width: 768px) {
  .hide-small {
    display: none !important;
  }
}

.no-pad {
  margin: 0 !important;
}

.white-space {
  white-space: pre-wrap;
}
