@import 'variables';

$term-text-colour: #dde4e8;

.bg-inverse {
  background-image: linear-gradient(to bottom right, map-get($colour-grid-1, "base"), map-get($colour-grid-1, "darken-2"));
}

b, strong {
  font-weight: 500;
}

.nav-tabs {
  margin: 15px 0;
}

.main.container {
  padding-top: 70px;
  padding-bottom: 50px;
}

.breadcrumb a {
  color: map-get($colour-grid-1, "darken-3");
}

dt a {
  font-weight: normal;
}

$indent-terminal: 40px;

.terminal-like {
  margin-bottom: 20px;
  background-color: #2d3134;
  color: $term-text-colour;
  border-radius: 4px;
  padding: 20px 20px 20px $indent-terminal;
  font-family: 'Ubuntu Mono', monospace;
  line-height: 1em;
  word-wrap: break-word;
  h3, h4, h5 {
    margin-left: -($indent-terminal - 15px);
    color: map-get($colour-grid-1, "lighten-3");
  }
  h3, h4 {
    font-size: 1.2rem;
    margin-top: 10px;
    margin-bottom: 4px;
  }
  h3 {
    margin-bottom: 10px;
  }
  b, strong {
    font-weight: 700;
  }
  i {
    text-decoration: underline;
    font-style: normal;
  }
  a {
    text-decoration: none !important;
    color: #48aaff;
  }
  pre {
    color: #a5aaad;
    white-space: pre-wrap;
  }
  p.indented {
    padding-left: $indent-terminal - 5px;
  }
  dd {
    margin-left: $indent-terminal - 5px;
  }
  table {
    margin: 10px 0;
    border-collapse: collapse;
    td {
      padding: 10px 8px 8px 8px;
    }
    &.border {
      th, td {
        border: 1px solid map-get($colour-grid-1, "lighten-2");
      }
    }
  }
  comment {
    display: block;
    padding-top: 10px;
    color: #666;
  }
}

.white-space {
  white-space: pre-wrap;
}

.detail {
  padding: 5px 20px 5px 40px;
  h5 {
    margin-left: -20px;
    font-size: 1rem;
  }
}

.no-pad {
  margin: 0 !important;
}
