{% macro sidebar() -%}
  <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
  <ins class="adsbygoogle sidebar" data-ad-client="ca-pub-3148636778736760" data-ad-slot="3264598073"></ins>
  <script>(adsbygoogle = window.adsbygoogle || []).push({});</script>
{%- endmacro %}
