<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="{{ description|truncate(length=140) }}">
    <meta name="author" content="Samuel Colvin">

    <meta name="theme-color" content="#00897b">
    <link rel="apple-touch-icon" sizes="180x180" href="{{ 'apple-touch-icon.png'|static }}">
    <link rel="icon" type="image/png" href="{{ 'favicon-32x32.png'|static }}" sizes="32x32">
    <link rel="icon" type="image/png" href="{{ 'favicon-16x16.png'|static }}" sizes="16x16">
    <link rel="manifest" href="{{ 'manifest.json'|static }}">
    <link rel="mask-icon" href="{{ 'safari-pinned-tab.svg'|static }}" color="#42587f">


    {% if uri %}
    <link rel="canonical" href="{{ uri|to_uri }}">
    {% endif %}

    <title>{{ page_title|safe or title|safe }}</title>

    <style>
      {{ embedded_css|safe }}
    </style>
  </head>

  <body>
    <header></header>
    <nav class="navbar">
      <div class="container" style="display: none">
        <div class="content">
          <form id="search-form">
            <input id="search" class="form-control" type="text" placeholder="Search...">
            <div id="spinner">
              <div></div><div></div>
            </div>
          </form>
          <a href="/" class="about hide-small">about</a>
        </div>
      </div>
    </nav>

    {% macro head() -%}
      <div class="page-description">
        <h1>{{ page_title|safe or title|safe }}</h1>
        <aside class="hide-small">
          {{ description|truncate(length=80) }}
        </aside>
      </div>
      {% if pages %}
        <div class="menu">
          {% for page in pages %}
          <a href="{{ page.link }}"{% if page.class %} class="{{ page.class }}"{% endif %}>{{ page.text }}</a>
          {% endfor %}
        </div>
      {% endif %}
    {%- endmacro %}

    <div id="dynamic">
      <div id="alt-head" class="head" style="display: none">
        <div class="container">
          {{ head() }}
        </div>
      </div>

      <div class="terminal container">
        <div class="head">
          {{ head() }}
        </div>
        <main>
          {% block content %}{% endblock %}
        </main>
      </div>
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="{{ 'static/js/typeahead.min.js'|static }}"></script>
    <script src="{{ 'static/js/main.js'|static }}"></script>
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
      ga('create', 'UA-62733018-3', 'auto');
      ga('send', 'pageview');
    </script>
  </body>
</html>
