<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="{{ description|truncate(length=140) }}">
    <meta name="author" content="Samuel Colvin">

    <meta name="theme-color" content="#42587f">
    <link rel="apple-touch-icon" sizes="180x180" href="{{ 'apple-touch-icon.png'|static }}">
    <link rel="icon" type="image/png" href="{{ 'favicon-32x32.png'|static }}" sizes="32x32">
    <link rel="icon" type="image/png" href="{{ 'favicon-16x16.png'|static }}" sizes="16x16">
    <link rel="manifest" href="{{ 'manifest.json'|static }}">
    <link rel="mask-icon" href="{{ 'safari-pinned-tab.svg'|static }}" color="#42587f">

    {% if uri %}
    <link rel="canonical" href="{{ uri|to_uri }}">
    {% endif %}

    <title>{{ page_title|safe or title|safe }}</title>

    <style>
      {{ embedded_css|safe }}
    </style>
  </head>

  <body>
    <header>
      <canvas></canvas>
    </header>
    <nav class="navbar">
      <div class="container" style="display: none">
        <div class="content">
          {# span so space-between centres the search form #}
          <span></span>
          <form id="search-form">
            <input id="search" class="form-control" type="text" placeholder="Search all man &amp; help docs...">
            <div id="spinner">
              <div></div><div></div>
            </div>
          </form>
          <a href="/" class="about hide-small">home</a>
        </div>
      </div>
    </nav>

    {% macro head() -%}
      <div class="page-description">
        <h1>{{ page_title|safe or title|safe }}</h1>
        <aside class="hide-small">
          {{ description|truncate(length=80) }}
        </aside>
      </div>
      {% if pages %}
        <div class="menu">
          {% for page in pages %}
          <a href="{{ page.link or '#' }}"
             {%- if page.class %} class="{{ page.class }}"{% endif -%}
             {%- if page.title %} title="{{ page.title }}"{% endif -%}>
            {{ page.text }}
          </a>
          {% endfor %}
        </div>
      {% endif %}
    {%- endmacro %}

    <div id="dynamic">
      <div id="alt-head" class="head" style="display: none">
        <div class="container">
          {{ head() }}
        </div>
      </div>

      <div class="terminal container">
        <div class="head">
          {{ head() }}
        </div>
        <main>
          {% block content %}{% endblock %}
        </main>
      </div>
    </div><!-- dynamic -->

    <script src="{{ 'static/js/jquery.min.js'|static }}"></script>
    <script src="{{ 'static/js/analytics.js'|static }}"></script>
    <script src="{{ 'static/js/typeahead.min.js'|static }}"></script>
    <script src="{{ 'static/js/main.js'|static }}"></script>
    {# for running js live: #}
{#     <script src="/static/js/main.js"></script>#}
    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
  </body>
</html>
