<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="{{ description|truncate(length=140) }}">
    <meta name="author" content="Samuel Colvin">

    <meta name="theme-color" content="#00897b">
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" href="/favicon-32x32.png" sizes="32x32">
    <link rel="icon" type="image/png" href="/favicon-16x16.png" sizes="16x16">
    <link rel="manifest" href="/manifest.json">
    <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5">

    {% if uri %}
    <link rel="canonical" href="{{ uri|to_uri }}">
    {% endif %}

    <title>{{ page_title|safe or title|safe }}</title>

    <style>
      {{ embedded_css|safe }}
    </style>
  </head>

  <body class="init">
    <nav class="navbar navbar-fixed-top navbar-dark bg-inverse init-hidden">
      <div class="container">
        <form id="search-form">
          <input id="search" class="form-control" type="text" placeholder="Search...">
          <div id="spinner">
            <div class="b1"></div>
            <div class="b2"></div>
          </div>
        </form>
      </div>
    </nav>

    <div class="main container">
      {% block content %}{% endblock %}
    </div>

    <noscript id="deferred-styles">
      <link href="{{ 'css/libraries.css'|static }}" rel="stylesheet">
      <link href="{{ 'css/theme.css'|static }}" rel="stylesheet">
    </noscript>
    <script>
      function load() {
        var loadDeferredStyles = function () {
          var addStylesNode = document.getElementById('deferred-styles');
          var replacement = document.createElement('div');
          replacement.innerHTML = addStylesNode.textContent;
          document.body.appendChild(replacement)
          addStylesNode.parentElement.removeChild(addStylesNode);
        };
        var raf = requestAnimationFrame || mozRequestAnimationFrame ||
                webkitRequestAnimationFrame || msRequestAnimationFrame;
        if (raf) raf(function () {
          window.setTimeout(loadDeferredStyles, 0);
        });
        else window.addEventListener('load', loadDeferredStyles);
        document.getElementsByTagName('body')[0].className = '';
      }
      if (window.location.href.includes('css')) {
        setTimeout('load()', 1000);
      }
    </script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.2.0/js/tether.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0-alpha/js/bootstrap.min.js"></script>
    <script src="{{ 'libs/js/typeahead.min.js'|static }}"></script>
    <script src="{{ 'js/main.js'|static }}"></script>
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
      ga('create', 'UA-62733018-3', 'auto');
      ga('send', 'pageview');
    </script>
  </body>
</html>
