{% extends 'base.jinja' %}

{% block content %}
  <div class="h2 pull-xs-right init-hidden">
    <span class="tag tag-default">builtin</span>
  </div>
  <h1>{{ name }}</h1>
  <p class="lead">
    {{ description }}
  </p>
  <div>
    <section id="builtin-man-page" class="terminal-like">
    <h3>{{ name }}</h3>
      <!-- man page content { -->
      {{ content|safe }}
      <!-- } end of man page content -->
    </section>
  </div>
{% endblock %}
