{% extends 'base.jinja' %}

{% block content %}
  <section id="builtin-man-page" class="terminal-like">
  <h3>{{ name }}</h3>
    <!-- man page content { -->
    {{ content|safe }}
    <!-- } end of man page content -->
  </section>
{% endblock %}
