/* TEAM */
    Developer: Samuel Colvin
    Contact: s@muelcolvin.com
    From: London, United Kingdom

/* SITE */
    Last update: {{ now }}
    Language: English
    Doctype: HTML5
    Deployment: S3
    IDE: Pycharm, vim
