{% extends 'base.jinja' %}

{% block content %}
  <section class="info">
    <p>
      helpmanual is an attempt to build a comprehensive, searchable and elegant online database of man pages.
      The site was launched very recently (November 2016) but it's usage is growing quickly.
    </p>
    <p>
      If you have any corrections, suggestions or comments on missing pages; please submit an issue
      <a href="https://github.com/samuelcolvin/helpmanual.io">on github</a>.
    </p>
    <p>
      The site currently contains {{ total_pages }} pages, made up of:
    </p>
    <ul>
      {% for count, text in info %}
        <li><span class="count">{{ count }}</span> {{ text }}</li>
      {% endfor %}
    </ul>
    <p>
      Use the search above to find the man or help page you're looking for.
    </p>
  </section>
{% endblock %}
