{% extends 'base.jinja' %}

{% block content %}
  <p class="lead">
    {{ description }}
  </p>

  <div class="row">
    {% for section in sections %}
      <div class="col-md-6">
        <div class="card white">
          <div class="card-block">
            <h3 class="card-title">{{ section.title }}</h3>
            <p class="card-text">
              {{ section.description }}
              {% if section.more %}
                <a href="{{ section.more }}">more&hellip;</a>
              {% endif %}
            </p>
          </div>
          <ul class="list-group list-group-flush">
            {% for link in section.links %}
              <li class="list-group-item text-truncate">
                <a href="{{ link.uri }}">{{ link.name }}</a> &bull; {{ link.description|truncate(100) }}
              </li>
            {% endfor %}
          </ul>
        </div>
      </div>
      {% if loop.index is even %}
        </div><div class="row">
      {% endif %}
    {% endfor %}
  </div>
{% endblock %}
