{% extends 'base.jinja' %}

{% block content %}
  <h1>{{ description }}</h1>
  <dl class="row">
    {% for page in pages %}
      <dt class="col-sm-2 text-truncate"><a href="{{ page.uri }}">{{ page.name }}</a></dt>
      <dd class="col-sm-10 text-truncate">{{ page.description or '&nbsp;'|safe }}</dd>
    {% endfor %}
  </dl>
{% endblock %}
