{% extends 'base.jinja' %}

{% block content %}
  <h1>{{ name }}</h1>

  <div>
    <ul class="nav nav-tabs">
      <li class="nav-item">
        <a class="nav-link active" href="">Man Page</a>
      </li>
      <li class="nav-item">
        {% if exec_variant %}
          <a class="nav-link" href="/help/{{ name }}/">Help Output</a>
        {% else %}
          <a class="nav-link disabled" href="#">Help Output</a>
        {% endif %}
      </li>
    </ul>
  </div>

  <div>
    <h2>GNU man page</h2>
    <p class="lead">
      {{ description }}
    </p>

    <div class="terminal-like">
      <div class="row">
        {% for label, value in details %}
          <div class="col-md-6 detail">
            <h5>{{ label|safe }}</h5>
            <div class="value">{{ value }}</div>
          </div>
          {% if loop.index is even and not loop.last %}
            </div><div class="row">
          {% endif %}
        {% endfor %}
      </div>
    </div>

    {% if man_comments %}
      <section id="man-comments" class="terminal-like">
        <h3>Leading comments</h3>
        <pre class="no-pad">{{ man_comments }}</pre>
        <comment>
          (The comments found at the beginning of the groff  file "{{ name }}.{{ man_id }}".)
        </comment>
      </section>
    {% endif %}
    <section id="man-page" class="terminal-like">
    <h3>{{ name }} ({{ man_id }})</h3>
      <!-- man page content { -->
      {{ content|safe }}
      <!-- } end of man page content -->
    </section>
  </div>
{% endblock %}
