// teal
$colour-grid-1: (
  "base":       #009688,
  "lighten-5":  #e0f2f1,
  "lighten-4":  #b2dfdb,
  "lighten-3":  #80cbc4,
  "lighten-2":  #4db6ac,
  "lighten-1":  #26a69a,
  "darken-1":   #00897b,
  "darken-2":   #00796b,
  "darken-3":   #00695c,
  "darken-4":   #004d40,
  "accent-1":   #a7ffeb,
  "accent-2":   #64ffda,
  "accent-3":   #1de9b6,
  "accent-4":   #00bfa5
);

// light blue
$colour-grid-2: (
  "base":       #03a9f4,
  "lighten-5":  #e1f5fe,
  "lighten-4":  #b3e5fc,
  "lighten-3":  #81d4fa,
  "lighten-2":  #4fc3f7,
  "lighten-1":  #29b6f6,
  "darken-1":   #039be5,
  "darken-2":   #0288d1,
  "darken-3":   #0277bd,
  "darken-4":   #01579b,
  "accent-1":   #80d8ff,
  "accent-2":   #40c4ff,
  "accent-3":   #00b0ff,
  "accent-4":   #0091ea
);

$enable-flex: true;

$font-family-base: 'Ubuntu', sans-serif;
$body-bg: map-get($colour-grid-1, "lighten-5");
$body-color: map-get($colour-grid-1, "darken-3");

$font-size-h1: 1.8rem;
$font-size-h2: 1.6rem;
$font-size-h3: 1.5rem;

$brand-inverse: map-get($colour-grid-1, "darken-1");

$breadcrumb-bg: map-get($colour-grid-1, "lighten-4");


$nav-tabs-border-color: map-get($colour-grid-1, "lighten-3");
$nav-tabs-active-link-hover-border-color: map-get($colour-grid-1, "lighten-3");

$card-bg: white;
$card-border-width: 0;
