@import 'https://fonts.googleapis.com/css?family=Ubuntu+Mono:400,700|Ubuntu:400,500';

body {
  font-family: 'Ubuntu', sans-serif;
  background-color: #fce4ec;
}

nav {
  &.bg-inverse {
    color: #f3f7f9;
    background-color: #c2185b;
  }
}

.main.container {
  padding-top: 70px;
  padding-bottom: 50px;
}

.breadcrumb {
  background-color: #f8bbd0;
}

dt a {
  font-weight: normal;
}

$term-text-colour: #dde4e8;

.terminal-like {
  margin-bottom: 20px;
  background-color: #2d3134;
  color: $term-text-colour;
  border-radius: 8px;
  padding: 20px 20px 20px 50px;
  font-family: 'Ubuntu Mono', monospace;
  line-height: 1em;
  h3, h4, h5 {
    margin-left: -30px;
    color: #e91e63;
  }
  h3, h4 {
    font-size: 1.2rem;
    margin-bottom: 4px;
  }
  h5 {
    font-size: 1.2rem;
  }
  div {
    display: inline;
  }
  a {
    text-decoration: none !important;
    color: #48aaff;
  }
  pre {
    color: #a5aaad;
  }
  .value {
    font-size: 1.2rem;
  }
  table {
    margin: 10px 0;
    border-collapse: collapse;
    td {
      padding: 10px 8px 8px 8px;
    }
    &.border {
      th, td {
        border: 1px solid $term-text-colour;
      }
    }
  }
}

.no-pad {
  margin: 0 !important;
}
